@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=PT+Serif:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* Grid Index ****************************/
.contenedorI {
    display: grid;
    grid-template-columns: 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "exp exp exp"
        "muestra muestra muestra"
        "footer footer footer"
}

/* Grid Sobre Mi *******************/
.contenedorS {
    display: grid;
    grid-template-columns: 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "info info info"
        "footer footer footer"
}

/* Grid Mis Trabajos */
.contenedorT {
    display: grid;
    grid-template-columns: 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "trabajos trabajos trabajos"
        "footer footer footer"
}

/* Grid Merch ***************/

.contenedorM{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas: 
    "header header header"
    "merch merch merch"
    "footer footer footer";
}

/* Header  **********************/

.header {
    grid-area: header;
    background-color: #222;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    margin-left: 25px;
}

.titulo a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Inconsolata', monospace;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center
}

.menu li {
    list-style: none;
    padding: 13px;
}

.menu a {
    font-size: large;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

/* Main Index *****************/

.exp {
    grid-area: exp;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-color: #e7e4dc;
    border: #222 groove 10px;
}

.imgexp {
    padding: 10vh;
    margin-left: 10vh;
}

.imgexp img {
    max-width: 450px;
    max-height: 400px;
}

.textexp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin-left: 20vh;
}

.textexp h2 {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;
}

.textexp ul {
    font-family: 'Inconsolata', monospace;
}

.textexp li {
    padding: 5px;
}

.textexp a {
    text-align: center;
    width: 6rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: #222;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: inline-block;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.37);
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.muestra {
    grid-area: muestra;
    background-color: #e7e4dc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: groove #222 10px;
}

.muestra h2 {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;
    margin-top: 20px
}

.muestra img {
    padding: 50px;
}

.tatts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.muestra a {
    text-align: center;
    width: 6rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: #222;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: inline-block;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.37);
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Main Sobre Mi *****************/

.info {
    grid-area: info;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: 85vh;
    background-color: #e7e4dc;
}

.info img {
    padding-left: 110px;
    padding-right: 125px;
}

.sobremi {
    grid-area: sobremi;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sobremi h2 {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Serif', serif;
    margin-bottom: 50px;
}

.sobremi p {
    text-align: left;
}

/* Main Contacto ***************/
.contacto {
    background-image: url(../Imagenes/IMG_1295.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* border: rgb(0, 0, 0) solid 10px;
    background-color: rgb(0, 0, 0); */
}

.formulario h2 {
    color: white;
    font-family: 'PT Serif', serif;
    font-size: xx-large;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.formulario input {
    margin: 10px;
    padding: 15px;
}

/* Main Mis Trabajos **************/
.trabajos {
    grid-area: trabajos;
    display: flex;
    background-color: #e7e4dc;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.trabajos h2 {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 25px;
}

.tatuajes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tatuajes img {
    padding: 15px;
}

.tatuajes img:hover{
    transform: scale(1.4);
    transition: 0.4s;
}

/* Main Merchandising ****************/

.merch{
    grid-area: merch;
    background-color: #e7e4dc;
}

.merch h2{
    text-align: center;
    margin-top: 40px;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
}

.retratos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 40px;
}

.cuadros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
}

.cuadros img{
    width: 450px;
    margin: 70px;
}

.cuadros h3{
    margin-top: -30px;
    font-size: x-large;

}
/* Footer **************************/

.footer {
    grid-area: footer;
    background-color: #222;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #222;
    height: 5vh;
}

.links {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.footer a {
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer i {
    font-size: 30px;
}

/* Diseño Responsive - Mobile Last */

/* Laptop y tablet */
@media (max-width: 1024px) {

    /* Index */
    .imgexp img {
        max-width: 215px;
        max-height: 240px;
    }

    .textexp {
        margin-left: 120px;
    }

    .textexp h2 {
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .textexp li {
        padding: 0px;
        width: 230px;
        height: 70px;
    }

    .textexp a {
        margin: 20px;
        top: -20px;
        left: 40%;
    }

    /* Sobre Mi */
    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .sobremi h2 {
        margin-bottom: 20px;
    }

    .sobremi p {
        text-align: center;
        margin: 20px;
    }

    /* Trabajos */
    .trabajos {
        height: auto;
    }

    .trabajos h2 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    /* Merch */
    .retratos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
    }

    .cuadros img{
        align-items: center;
        width: 400px;
        margin: 50px;
    }
}

/* Ajuste para tablet */

@media (max-width: 768px) {
    .imgexp {
        padding: 0px;
    }
}

/* Mobile L */

@media (max-width: 425px) {
    .header {
        height: 15vh;
        display: flex;
        align-items: stretch;
        align-content: space-around;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }

    .menu li {
        padding: 5px;
    }

    .exp {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center
    }

    .imgexp {
        margin-top: 20px;
    }

    .tatts img {
        padding: 30px;
    }

    .muestra a {
        bottom: 13px;
    }
}