@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto&display=swap');

$incon: 'Inconsolata', monospace;
$ptserif: 'PT Serif', serif;
$playfair: 'Playfair Display', serif;